body{
    font-family:"Poppins", sans-serif;
    background-color: #477F80;
  }
  
  #navbar{
    background-color:black;
    position:fixed;
    left:0;
    top:0;
    width:100%;
    display:flex;
    justify-content:flex-end;
    border-bottom:solid;
    border-width:2px;
    border-color:#98C8C8;
  }
  
  #navlist{
    display:flex;
    flex-direction:row;
  }
  
  li{
    list-style:none;
  }
  
  a{
    color:#98C8C8;
    text-decoration:none;
    font-size:1.75em;
    padding:1rem 2rem;
  }
  
  a:hover{
    background-color:#B1C0C0;
    color:black;
  }
  
  #welcome-section{
    width:100%;
    height:100vh;
    align-items:center;
    display:flex;
    flex-direction:column;
    justify-content:center;
    border-bottom:solid;
    border-color:#98C8C8;
  }
  
  h1{
    font-size:3rem;
    color:white;
  }
  
  
  #welcome-section > p{
    font-size:1.5rem;
  }
  
  #projects{
    width:50%;
    justify-content:center;
    align-items:center;
    margin:0 auto;
    display:flex;
    flex-direction:column;
  }
  
  #projects >a{
    font-size:1em;
    padding:1rem ;
    padding-bottom:60px;
  }
  
  .project-img{
    max-height:300px;
    max-width:300px;
    padding:20px;
  }
  
  #contact{
    width:100%;
    height:100vh;
    align-items:center;
    justify-content:center;
    display:flex;
    flex-direction:column;
    border-top:solid;
    border-color:#98C8C8;
  }
  
  @media only screen and (max-width: 200px){
    body{
      background-color: #477F80;
    }
  }